@charset "utf-8";
/*底部*/
#footer {
  height: 430px;
  background-color: #F0F0F0;
}
.footer-main {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 430px;
}
.footer-main-blank {
  height: 30px;
}
.footer-main-title {
  height: 44px;
  background-color: #fff;
  border-top: 2px solid #000;
}
.footer-main-title span {
  float: left;
}
.footer-main-title .dycurrent {
  background-color: #000;
  color: #fff;
}
.footer-main-title .dycurrent:hover {
  text-decoration: none;
}
.footer-main-title a {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #000;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}
.footer-main-title a:hover {
  text-decoration: underline;
}
.footer-main-title .set {
  width: 30px;
  float: right;
  height: 30px;
  margin: 6px 10px;
  border-radius: 5px;
  background-image: url(image/set.png);
}
.footer-main-nav {
  margin-top: 20px;
  width: 1100px;
  height: 302px;
}
.footer-main-list {
  width: 207px;
  height: 302px;
  background-color: #fff;
  float: left;
  margin-right: 13px;
  border-radius: 5px;
}
.footer-main-list img {
  margin: 10px;
}
.footer-main-list img:hover {
  opacity: 0.8;
}
.footer-main-list .name {
  height: 20px;
  line-height: 20px;
}
.footer-main-list .name a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}
.footer-main-list .name a:hover {
  text-decoration: underline;
}
.footer-main-list p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.footer-main-list p a {
  text-decoration: none;
}
.footer-main-list p a:hover {
  text-decoration: underline;
}
.footer-main-list .more {
  height: 25px;
}
.footer-main-list .more a {
  width: 70px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  background-color: black;
  float: left;
}
.footer-main-list .more a:hover {
  text-decoration: underline;
}
/*links*/
#links {
  height: 400px;
  background-color: #fff;
}
.links-main {
  margin: 0 auto;
  width: 1100px;
  height: 400px;
}
.links-main-top {
  float: left;
  width: 1100px;
  height: 210px;
  margin-top: 20px;
}
.links-main-left {
  width: 520px;
  height: 190px;
  float: left;
  margin-top: 10px;
}
.links-list {
  width: 120px;
  height: 190px;
  line-height: 20px;
  float: left;
  list-style: none;
  margin-left: 10px;
}
.links-list h2 {
  font-size: 12px;
}
.links-list a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
}
.links-list a:hover {
  color: #f60;
}
.links-main-right {
  width: 430px;
  height: 190px;
  float: right;
  margin-top: 10px;
}
.links-main-right span {
  display: block;
  width: 70px;
  height: 190px;
  font-size: 12px;
  color: #999;
  float: left;
  text-align: center;
}
.links-main-right a {
  display: block;
  width: 360px;
  height: 190px;
  float: right;
}
.conpany {
  width: 1100px;
  height: 70px;
  float: left;
  margin-top: 10px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
.conpany a {
  font-size: 12px;
  color: #999;
  float: left;
  margin: 10px 0 10px -1px;
  border-left: 1px solid #ccc;
  padding: 0 12px;
  text-decoration: none;
}
.conpany a:hover {
  color: #f60;
}
.conpany .noneborder {
  border-left: none;
}
.copyright {
  float: left;
  width: 1100px;
  height: 70px;
}
.copyright-left {
  width: 220px;
  height: 40px;
  margin-top: 15px;
  float: left;
}
.copyright-left span {
  padding-left: 10px;
  font-size: 12px;
  color: #999;
  float: left;
}
.copyright-left a {
  width: 16px;
  height: 16px;
}
.copyright-left a i {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 5px;
}
.copyright-left a .sina {
  background-image: url(image/linkico.gif);
}
.copyright-left a .renren {
  background-image: url(image/linkico.gif);
  background-position: 0 -64px;
}
.copyright-left a .kongjian {
  background-image: url(image/linkico.gif);
  background-position: 0 -160px;
}
.copyright-left a .weibo {
  background-image: url(image/linkico.gif);
  background-position: 0 -128px;
}
.copyright-left a .douban {
  background-image: url(image/linkico.gif);
  background-position: 0 -192px;
}
.copyright-right {
  width: 450px;
  height: 40px;
  float: right;
  margin-top: 15px;
}
.introduction {
  width: 410px;
  height: 40px;
  font-size: 12px;
  color: #999;
  float: left;
}
.introduction a {
  color: #999;
  text-decoration: none;
}
.introduction .int1 {
  float: left;
  display: inline-block;
  width: 280px;
  height: 23px;
  line-height: 23px;
}
.introduction .int2 {
  float: left;
  display: inline-block;
  width: 400px;
  height: 15px;
  line-height: 15px;
}
.introduction strong {
  margin-left: 10px;
  width: 120px;
  height: 23px;
  display: inline-block;
  background-image: url(image/shui.png);
}
